/* # Navigation *********************************************
************************************************************/


/* ## Set menu to display at top 
********************************/

aside.sidebar {
    width: 100%;
    background-color: $header-bg-color;
    @include breakpoint(desktop) {
        position: fixed;
        top: 0;
        height: 60px;
    }
}


/* # Desktop Menu ***************
*********************************/

.wrapper {
    padding: 15px;
    @include breakpoint(desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}

.design-selection h3 {
    width: 350px;
    padding-bottom: 19px;
}

.design-archives h3 {
    width: 200px;
    padding-bottom: 19px;
}

.zen-resources h3 {
    width: 200px;
    padding-bottom: 19px;
    margin-right: 30px;
}

.design-selection nav ul,
.design-archives nav ul,
.zen-resources ul {
    list-style: none;
    @include breakpoint(desktop) {
        display: none;
        margin-top: -12px;
    }
}

.design-selection,
.design-archives,
.zen-resources {
    &:hover {
        color: $nav-link-hover;
        cursor: pointer;
    }
    &:active {
        color: $nav-link-hover;
        cursor: pointer;
    }
    &:focus {
        color: $nav-link-hover;
        cursor: pointer;
    }
}


/* Styling dropdown */

.design-selection:hover nav ul,
.design-archives:hover nav ul,
.zen-resources:hover ul {
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    background-color: $header-bg-color;
    
}


/* nav li styles */

.design-selection nav ul li,
.design-archives nav ul li,
.zen-resources ul li {
    padding: 20px;
    color: $white;
}


/* nav a links styling */

.design-selection nav ul li a,
.design-archives nav ul li a,
.zen-resources ul li a {
    color: $nav-link;
    text-decoration: none;
    font-weight: 800;
}


/* nav a:hover links styling */

.design-selection nav ul li a:hover,
.design-archives nav ul li a:hover,
.zen-resources ul li a:hover {
    color: $nav-link-hover;
}


/* # Mobile Menu ***************
*******************************/


/* @media only screen and (max-width: 900px) {
    // Set wrapper size so that the menu can scroll on mobile device
    .wrapper {
        display: none;
    }
    // Insert Menu Icon, style, and position it  
    aside::before {
        content: '\2630';
        width: 15%;
        min-width: 100px;
        font-size: 55px;
        color: $dark-moss-green;
        padding-left: 20px;
        float: right;
        margin-top: -12px;
    }
    // Add a hover state to the Menu Icon
    aside:hover::before {
        font-weight: 700;
        color: $nav-link-hover;
    }
    // Reveal the wrapper when hovering over the icon
    aside:hover {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border: 0;
            height: 70vh;
            width: 100vw;
            background-color: $header-bg-color;
            padding: 0;
            overflow: scroll;
        }
    }
    .design-selection {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        & h3 {
            background: $avocado;
            display: block;
            width: 100%;
            color: $white;
            margin: 0;
            padding: 20px;
        }
        & nav ul {
            display: block;
            list-style: none;
            & li {
                display: block;
            }
        }
    }
    .design-archives {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        & h3 {
            background: $avocado;
            display: block;
            width: 100%;
            color: $white;
            padding: 20px;
        }
        & nav ul {
            list-style: none;
            display: block;
            & li {
                display: block;
            }
        }
    }
    .zen-resources {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        & h3 {
            background: $avocado;
            display: block;
            width: 100%;
            color: $white;
            padding: 20px;
        }
        & ul {
            list-style: none;
            display: block;
            & li {
                display: block;
            }
        }
    }
} */