/* # Variables
**************/


/* ## Color Scheme RGB
**********************/

$white              : rgba(255, 254, 255, 1);
$grey               : #eeeeee;
$purple             : #54355c;
$pale-spring-bud    : rgba(223, 250, 178, 1);
$middle-green-yellow: rgba(172, 207, 96, 1);
$avocado            : rgba(84, 119, 0, 1);
$dark-moss-green    : rgba(75, 99, 42, 1);

$nav-link           : $dark-moss-green;
$nav-link-hover     : $purple;
$nav-sub-hover-bg   : $avocado;

$header-bg-color    : $middle-green-yellow;

$header             : $purple;
$header-sub         : darken($dark-moss-green, 10);
$body-text          : $avocado;
$body-link          : $purple;
$body-link-hover    : $middle-green-yellow;

$footer-link        : $middle-green-yellow;
$footer-link-hover  : $grey;


/* ## Fonts
***********/

$font-header: 'Raleway', sans-serif;
$font-body: 'Lato', sans-serif;

/* ## Structure
***************/

$div-padding: 100px 40px;
$div-less-padding: 100px 0px;