/* Imports */


/* Color Scheme RGB */
$white              : rgba(255, 254, 255, 1);
$grey               : #F1F1F1;
$dark-grey          : #902f6a;
$black               : #000;
$yellow             : yellow;
$pale-spring-bud    : rgba(223, 250, 178, 1);
$middle-green-yellow: rgba(172, 207, 96, 1);
$avocado            : rgba(84, 119, 0, 1);
$dark-moss-green    : rgba(75, 99, 42, 1);


/* Fonts */
$font-header        : 'Lato', sans-serif;
$font-body          : 'Raleway', sans-serif;